@page "/"

@inject IModalService Modal
@using ReconciliationApp.EntityFrameworkCore.IncomeOrExpenseTypes
@using ReconciliationApp.Web.Data
@using ReconciliationApp.Service.Reconciliations.Dtos

@inject ReconciliationService ReconciliationService


@if (grid == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <table class='table table-striped table-hover table-bordered'>
        <thead>
        <tr>
            <th colspan="13" class="text-center">Year @grid.Year</th>
        </tr>
        <tr>
            <th></th>
            @foreach(var title in grid.Titles)
            {
                <th>@title.MonthDisplayName</th>
            }            
        </tr>
        </thead>
        <tbody>

        <!-- printing readonly statements -->
        @foreach(var row in grid.Statements)
        {
            <tr class="table-secondary">
                <td>@row.Title</td>

                @foreach (var col in row.Values)
                {
                    <td>@col.Amount</td>
                }
            </tr>
        }        


        <!-- printing reconciliation -->
        <tr>
            <th colspan="13" class="text-center">Reconciliation</th>
        </tr>
        @foreach(var row in grid.Rows)
        {
            var tableClass = row.Flag == IncomeOrExpenseFlag.Income ? "table-success" : "table-danger";

            <tr class="@tableClass">
                <td>@row.IncomeOrExpenseTypeName</td>

                @foreach (var col in row.Columns)
                {
                    <td>@col.Amount</td>
                }
            </tr>
        }    
        

        <!-- printing result -->
            @foreach (var row in grid.Results)
            {
                <tr class="table-secondary">
                    <th>@row.Title</th>

                    @foreach (var col in row.Values)
                    {
                        <td>@col.Amount</td>
                    }
                </tr>
            }
    
        </tbody>
    </table>

    <div class="row mb-5">
        <div class="col-12 text-center">
            <span class="badge badge-secondary">Readonly</span>
            &nbsp;&nbsp;
            <span class="badge badge-success">Income</span>
            &nbsp;&nbsp;
            <span class="badge badge-danger">Expense</span>
        </div>
    </div>
}

@code {
    private YearlyReconciliationGridDto grid;

    protected override async Task OnInitializedAsync()
    {
        grid = await ReconciliationService.GetYearlyTableAsync();
    }
    
}
